/* ==========================================
   EditorContainer - 编辑器容器样式
   ========================================== */

.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: transparent;
}

